.MMM-forecast-io {
}

.MMM-forecast-io .big-icon {
  font-size: 75%;
  line-height: 65px;
  display: inline-block;
  -ms-transform: translate(0, -3px); /* IE 9 */
  -webkit-transform: translate(0, -3px); /* Safari */
  transform: translate(0, -3px);
}

.MMM-forecast-io .summary {
  width: 400px;
}

.MMM-forecast-io .forecast {
  text-align: left;
  min-width: 400px;
  margin-top: 2ex;
}

.MMM-forecast-io .forecast-row {
}

.MMM-forecast-io .forecast-row>span {
  display: table-cell;
  width: 1px;
  text-align: right;
}

.MMM-forecast-io .forecast-row .forecast-day {
  text-align: left;
  padding-right: 0.2em;
}
.MMM-forecast-io .forecast-row .weathericon {
  text-align: center;
  padding-right: 0.5em;
}

.MMM-forecast-io .forecast-bar {
  display: table;
  overflow: hidden;
  padding-left: 10px;
}

.MMM-forecast-io .forecast-bar>span {
  display: table-cell;
  text-align: center;
}

.MMM-forecast-io .forecast-bar .bar {
  #background-color: #aaa;
  background-image: url("barcolors.png");
  line-height: 0.8em;
  border-radius: 1em;
  border: 0.5ex transparent solid;
  background-clip: padding-box;
  color: black;
}

.MMM-forecast-io .canvasContainer {
  position: relative;
  top: 15px;
}

.MMM-forecast-io .precipitation-bg {
  top: 12.5px;
  /*border: 2px solid #cccccc;
  padding: 5px;*/
}

.MMM-forecast-io .precipitation-graph {
  position:absolute;
  top: 0px;
  left: 0px;
}

.MMM-forecast-io .wb-container {
  display: block;
  text-align: center;
}

.MMM-forecast-io #weatherboy {
  margin: auto auto;
  margin-top: 40px;
  background: url(weatherboy2.jpg);
  background-repeat: no-repeat;
  /*width: 205px;
  height: 340px;
  background-size: 1028px 1060px;
  background-position: 0px -40px;
  */
  overflow: hidden;
  /*-webkit-filter: invert(1);
  filter: invert(1);*/
}
